<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sinothk.chart.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ChartDemoMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PieChartActivity" />
        <activity android:name=".ColumnChartActivity" />
        <activity android:name=".LineChartActivity" />
        <activity android:name=".PolarChartActivity" />
        <activity android:name=".ParetoChartActivity" />
        <activity android:name=".RadarChartActivity" />
        <activity android:name=".FunnelChartActivity" />
        <activity android:name=".PyramidActivity" />
        <activity android:name=".WindSpeedActivity" />
        <activity android:name=".PertChartActivity" />
        <activity android:name=".VerticalChartActivity" />
        <activity android:name=".CircularGaugeActivity" />

    </application>

</manifest>